<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fun - Jeff Haskin</title>
    <link rel="stylesheet" href="../static/common.css">
    <link rel="stylesheet" href="../static/tools.css">
</head>
<body>
<header id="navbar"></header>
<script src="/static/load-nav.js"></script>

<main>
    <h1>Fun</h1>
    <div class="gallery">
        <div class="card"><a href="/templates/matrix-rain-kanji-catch.html">Matrix Rain Kanji Catch</a></div>
    </div>
</main>

<footer>
    <p>&copy; 2025 Jeff Haskin</p>
</footer>
</body>
</html>
